{% extends 'base.html.twig' %} 
{% block title %} Peereval.me - About {% endblock %} 
{% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <img src="{{ asset('images/logo1.png') }}" alt="hand-pc">
    </header>
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="{{ path('login')}}" class="button">Home</a></li>
            <li><a href="#first">Why?</a></li>
            <li><a href="#second">What?</a></li>
            <li><a href="#third">Who?</a></li>
        </ul>
    </nav>
    <!-- Main -->
    <div id="main">
        <!-- Introduction -->
        <section id="first" class="main">
            <div class="spotlight">
                <div class="content">
                    <header class="major special">
                        <h2>Why do this project?</h2>
                    </header>
                    <p>WelTec Information Technology Bachelors program, requires completion of IT7351 - Project. Also as students this gives us an excellent opportunity to display the skills and processes we have learnt at WelTec. </p>
        </section>
        <section id="second" class="main">
            <header class="major special">
                <h2>What is this project?</h2>
            </header>
            <p>Peereval.me (Peer Evaluation) is a web based system. It serves as a platform for collaborations of people to evaluate their peers on their performance. The system is designed to retrieve honest answers and return them to the evaluation creator. The evaluation forms, consist of generic group questions and person specific questions.</p>
        </section>
        <section id="third" class="main">
            <header class="major special">
                <h2>Who was invloved?</h2>
            </header>
            <h3>Client</h3>
            <p>Robert Sutcliffe
                <br> WelTec: Senior Academic Staff Member
                <br> Email: robert.sutcliffe@weltec.ac.nz </p>
            <header class="major special">
                <h2></h2>
            </header>
            <h3>Advisor</h3>
            <p>Dr Abdolreza Hajmoosaei
                <br> WelTec: Academic Staff Member
                <br> Email: reza.moosa@weltec.ac.nz </p>
            <header class="major special">
                <h2></h2>
            </header>
            <h3>Project Manager </h3>
            <p>Sean Riki
                <br> Major: Information Assurance and Security
                <br> Email: sean.riki@it.weltec.ac.nz </p>
            <header class="major special">
                <h2></h2>
            </header>
            <h3>System Analysis & Design Lead</h3>
            <p>Rikesh Panchal
                <br> Major: Networking
                <br> Email: rikesh.panchal@it.weltec.ac.nz</p>
            <header class="major special">
                <h2></h2>
            </header>
            <h3>Lead Developer</h3>
            <p>Karl Pelayo
                <br> Major: programming
                <br> Email: karl.pelayo@it.weltec.ac.nz </p>
            <header class="major special">
                <h2></h2>
            </header>
            <h3>Lead Tester</h3>
            <p>Kaynne tagle
                <br> Major: Networking
                <br> Email: kaynne.tagle@it.weltec.ac.nz</p>
            <header class="major special">
                <h2></h2>
            </header>
            <h3>Developer</h3>
            <p>Miles Potton
                <br> Major: Networking
                <br> Email: miles.potton@it.weltec.ac.nz</p>
            </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>
</div>
{% endblock %}