{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
<div id="main">

{{ form_start(form) }}

{{ form_widget(form) }}

<input type="submit" name="register">

{{ form_end(form) }}
</div>
</div>
{% endblock %}
