{% extends 'base.html.twig' %}
{% block title %}
	Build Form - peereval.me
{% endblock %}
{% block body %}
{{ form_start(form) }}
{{ form_row(form.name) }}
{% for question in form.questions %}
{{ form_row(question.question) }}
{% endfor %}
<button><label>Submit</label></button>
{{ form_end(form) }}
{% endblock %}