{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form) }}
{% for question in form.questions %}
    {{ form_row(question.questiontext) }}
{% endfor %}
<button><label>Submit</label></button>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}